{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["standard-with-typescript", "prettier"],
  "rules": {
     "semi": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "jsx-quotes": ["error", "prefer-single"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "always"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"]
  }
}